@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin : 0%;
  padding : 0%;
  box-sizing: border-box;
  font-family: "Poppins";
  overflow-x: hidden;
}



header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.logo{
  height: 100%;
  width: fit-content;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-weight: bold;

}
.navbar{
  height: 100%;
  width: 40%;
  display : flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-items{
  width: 100%;
  display : flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
.nav-item{
  height: fit-content;

}
a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: purple
}